@import "tailwindcss";
@import '@mantine/core/styles.css';

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
